<!-- <app-navbar></app-navbar> -->

<div class="m-4">
  <p-menubar [model]="labels" class=""> </p-menubar>
  <p-menubar [model]="items" class="m-4 p-4">
    <button pButton icon="pi pi-times px-2" class="mr-2 p-button-warning">
      Cancelar
    </button>
    <button pButton icon="pi pi-save px-2">Guardar</button>
  </p-menubar>
  <form class="card p-4" [formGroup]="formulario">
    <div class="grid p-fluid">
      <!-- primer columna -->
      <div class="col-12 md:col-4 gap-4">
        <!-- name -->
        <div class="col m-0 p-0">
          <div class="p-inputgroup">
            <input
              type="text"
              pInputText
              placeholder="Nombre o CUIT"
              formControlName="name"
              [class.ng-invalid]="
                formulario.get('name')?.touched &&
                formulario.get('name')?.hasError('required')
              "
            />

            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-cloud-download"
            ></button>
          </div>
          <span
            [ngClass]="
              formulario.get('name')?.touched &&
              formulario.get('name')?.hasError('required')
                ? 'error px-2'
                : 'hidden'
            "
            >El campo nombre o CUIT, es requerido</span
          >
        </div>
        <!-- direction -->
        <div class="col m-0 p-0">
          <div class="p-inputgroup mt-2">
            <input
              type="text"
              pInputText
              placeholder="Dirección"
              formControlName="direction"
              [class.ng-invalid]="
                formulario.get('direction')?.touched &&
                formulario.get('direction')?.hasError('required')
              "
            />
          </div>
          <span
            [ngClass]="
              formulario.get('direction')?.touched &&
              formulario.get('direction')?.hasError('required')
                ? 'error px-2'
                : 'hidden'
            "
            >El campo dirección es requerido</span
          >
        </div>
        <!-- city -->
        <div class="mt-2 col p-0">
          <p-dropdown
            formControlName="city"
            [options]="cities"
            optionLabel="name"
            [class.ng-invalid]="
              formulario.get('city')?.touched &&
              formulario.get('city')?.hasError('required')
            "
          ></p-dropdown>
          <span
            [ngClass]="
              formulario.get('city')?.touched &&
              formulario.get('city')?.hasError('required')
                ? 'error px-2'
                : 'hidden'
            "
            >Elija una opción</span
          >
        </div>
        <!-- phone -->
        <div class="col p-0">
          <div class="p-inputgroup mt-2">
            <input
              type="text"
              pInputText
              placeholder="Celular"
              formControlName="phone"
              [class.ng-invalid]="
                formulario.get('phone')?.touched &&
                formulario.get('phone')?.hasError('required')
              "
            />
          </div>
          <span
            [ngClass]="
              formulario.get('phone')?.touched &&
              formulario.get('phone')?.hasError('required')
                ? 'error px-2'
                : 'hidden'
            "
            >El campo celular es requerido</span
          >
        </div>
        <!-- web site -->
        <div class="col p-0">
          <div class="p-inputgroup mt-2">
            <input
              type="text"
              pInputText
              placeholder="Sitio Web"
              formControlName="webSite"
              [class.ng-invalid]="
                formulario.get('webSite')?.touched &&
                formulario.get('webSite')?.hasError('required')
              "
            />
          </div>
          <span
            [ngClass]="
              formulario.get('webSite')?.touched &&
              formulario.get('webSite')?.hasError('required')
                ? 'error px-2'
                : 'hidden'
            "
            >El campo sitio web es requerido</span
          >
        </div>
        <!-- ino.bruto -->
        <div class="col p-0">
          <div class="p-inputgroup mt-2">
            <input
              type="text"
              pInputText
              placeholder="Ino. Brut"
              formControlName="inoBruto"
              [class.ng-invalid]="
                formulario.get('inoBruto')?.touched &&
                formulario.get('inoBruto')?.hasError('required')
              "
            />
          </div>
          <span
            [ngClass]="
              formulario.get('inoBruto')?.touched &&
              formulario.get('inoBruto')?.hasError('required')
                ? 'error px-2'
                : 'hidden'
            "
            >El campo Ino. Bruto es requerido</span
          >
        </div>
      </div>

      <!-- segunda columna -->
      <div class="col-12 md:col-4 gap-4">
        <div class="">
          <p-dropdown
            formControlName="iva"
            [options]="iva"
            optionLabel="type"
          ></p-dropdown>
        </div>
        <div class="col-12 flex gap-2 mt-2 p-0">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Tipo Doc." />
          </div>
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Nro. Doc" />
          </div>
        </div>
        <div class="p-inputgroup mt-2">
          <input type="text" pInputText placeholder="Provincia" />
        </div>
        <div class="p-inputgroup mt-2">
          <input type="text" pInputText placeholder="Email" />
        </div>
        <div
          class="col-12 flex justify-content-between mt-2 p-0 align-items-center"
        >
          <div class="flex align-items-center gap-2">
            <p-checkbox
              formControlName="city"
              value="New York"
              inputId="ny"
            ></p-checkbox>
            <label for="ny">Deshabilitar</label>
          </div>
          <div class="flex align-items-center gap-2">
            <p-checkbox
              formControlName="city"
              value="New York"
              inputId="ny"
            ></p-checkbox>
            <label for="ny">Habilitar</label>
          </div>
        </div>
        <div class="col-12 flex gap-2 mt-2 p-0">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Tipo Doc." />
          </div>
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Nro. Doc" />
          </div>
        </div>
        <div class="col-12 flex gap-2 mt-2 p-0">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Tipo Doc." />
          </div>
          <div class="flex align-items-center gap-2">
            <p-checkbox
              formControlName="city"
              value="New York"
              inputId="ny"
            ></p-checkbox>
            <label for="ny">Deshabilitar</label>
          </div>
        </div>
        <div class="col-12 flex gap-2 mt-2 p-0">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Tipo Doc." />
          </div>
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Nro. Doc" />
          </div>
        </div>
      </div>
      <!-- tercer columna -->
      <div class="col-12 md:col-4 gap-4">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Fantasía" />
        </div>
        <div class="p-inputgroup mt-2">
          <input type="text" pInputText placeholder="Fantasía" />
        </div>
        <div class="p-inputgroup mt-2">
          <textarea
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
            placeholder="Observaciones"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="border">
      <app-contactos></app-contactos>
    </div>
  </form>
</div>
