<div class="m-4 content">
  <p-menubar [model]="labels" class="">
    <p-button routerLink="/agregar-provincia">
      <i class="pi pi-plus mr-2"></i>
      Nuevo</p-button
    >
  </p-menubar>
  <p-table
    [value]="listados"
    [tableStyle]="{ width: '95%' }"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="CP" style="width: 30%">
          N° <p-sortIcon field="CP"></p-sortIcon>
        </th>
        <th pSortableColumn="ID" style="width: 30%">
          Nombre <p-sortIcon field="ID"></p-sortIcon>
        </th>
        <th pSortableColumn="CIUDADID" style="width: 30%">
          Cuit <p-sortIcon field="CIUDADID"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Teléfono <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Email <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Dirección <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Localidad <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Provincia <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Tipo <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA" style="width: 30%">
          Fantasia <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="PROVINCIA">
          Estado <p-sortIcon field="PROVINCIA"></p-sortIcon>
        </th>
        <th style="">ACCIÓN <p-sortIcon></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-listado>
      <tr>
        <td>{{ listado.num }}</td>
        <td>{{ listado.nombre }}</td>
        <td>{{ listado.cuit }}</td>
        <td>{{ listado.telefono }}</td>
        <td>{{ listado.email }}</td>
        <td>{{ listado.direccion }}</td>
        <td>{{ listado.localidad }}</td>
        <td>{{ listado.provincia }}</td>
        <td>{{ listado.tipo }}</td>
        <td>{{ listado.fantasia }}</td>
        <td>{{ listado.estado }}</td>
        <td>
          <div class="card flex justify-content-center">
            <p-button [routerLink]="['/editar-provincia', listado.ID]"
              >Editar</p-button
            >
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
