<div class="m-4">
  <p-menubar [model]="items" class=""> </p-menubar>
  <app-links-top></app-links-top>
  <div class="card mt-4">
    <div class="grid p-fluid">
      <div class="col-12 md:col-4 gap-4">
        <div
          class="flex align-items-center px-2"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              pButton
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
        <div
          class="flex align-items-center px-2 mt-3"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
              pButton
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
        <div
          class="flex align-items-center px-2 mt-3"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
              pButton
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
      </div>

      <div class="col-12 md:col-4 gap-4">
        <div
          class="flex align-items-center px-2"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              pButton
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
        <div
          class="flex align-items-center px-2 mt-3"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
              pButton
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
        <div
          class="flex align-items-center px-2 mt-3"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
              pButton
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
      </div>

      <div class="col-12 md:col-4 gap-4">
        <div
          class="flex align-items-center px-2"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              pButton
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
        <div
          class="flex align-items-center px-2 mt-3"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
              pButton
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
        <div
          class="flex align-items-center px-2 mt-3"
          style="background-color: #fff"
        >
          <div class="col">
            <h5>Mis tareas Pendientes</h5>
            <button
              style="background-color: #0388e5; color: #fff"
              class="px-4 py-1"
              pButton
            >
              Ver
              <i class="pi pi-chevron-right" style="font-size: 13px"></i>
            </button>
          </div>
          <h2
            style="
              background-color: #0388e5;
              color: #fff;
              padding: 6px;
              border-radius: 5px;
            "
          >
            1
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
